@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-image: url("../public/images/bg-gradient.jpg");
}

.App{
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-objectif{
    color: rgba(116, 116, 116, 0.69);
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Poppins',sans-serif;
}

.container-todo{
    text-align: center;
    width: 80%;
    height: auto;
    margin-top:150px;
    background: linear-gradient(104.63deg, rgba(255, 255, 255, 0.6) 12.86%, rgba(255, 255, 255, 0.2) 88.3%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    border-radius: 23px;
    padding:40px;
}


.input-todo{
    height: 62px;
    width:70%;
    background: rgba(255, 255, 255, 0.76);
    border: 1px solid #E1DFDF;
    box-sizing: border-box;
    border-radius: 23px 0 0 23px;
    color: rgba(116, 116, 116, 0.69);
    font-size: 20px;
    padding-left:20px;
}

input::placeholder{
    color: rgba(116, 116, 116, 0.69);
}

.btn-add{
    width: 10%;
    height: 62px;
    background: rgba(203, 192, 244, 0.33);
    border-radius: 0px 15px 15px 0px;
    border:none;
    font-size: 20px;
    color:white;
}

.bloc-todo{
    display: flex;
    align-items: center;
    height: 55px;
    background: rgba(175, 169, 246, 0.2);
    border-radius: 16px;
    margin-top: 35px;
}

h3{
    color: rgba(116, 116, 116, 0.69);
}

.icon-style{
    color:white;
    text-align: right;
}

